<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <meta-data
            android:name="SPOTIFY_CLIENT_ID"
            android:value="${spotifyClientId}" />
        <meta-data
            android:name="SPOTIFY_REDIRECT_URI"
            android:value="${spotifyRedirectUri}" />
    </application>
</manifest>
